@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Address Book</h1>
    <p class="lead">
        This is an address book designed for the NAMACORP interview. With the hopes of impressing enough to get the Job :-)  <br /><br />
        Thank you for providing me with the opportunity to be able to build this project and hope to hear from you guys soon. <br /><br />
        FYI the question around the view for older than 35 is in the DB under views.
    </p>
    <p><a class="btn btn-default" href="~/Contacts">Go To Contacts In Address Book &raquo;</a></p>
</div>